$text-color: #fff;
$txt: #084298;
$backg: #cfe2ff;

*{
    font-family: 'Alata'!important;
}

.home-page {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;

  .row {
    align-items: center;
    margin: 2rem;
  }

  .login-alert-page{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
    background-color: #fff;
    border-radius: .6rem;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      line-height: 2;
      text-align: center;
      font-size: 1.5rem;
      margin: 1.5rem;
    }

    h1 {
      letter-spacing: 2px;
      font-weight: 700;
      text-align: center;
      font-size: 3.5rem;
    }

    .home-btn {
      font-size: 1.5rem;
      text-decoration: none;
      margin: 2rem 0;
      padding: 0.5rem 7rem;
      border-radius: 2rem;
      background-color: #084298;
      color: #cfe2ff;
      border: 1px solid #084298;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

      &:hover {
        transition: all 0.5s;
        color: #084298;
        background-color: #cfe2ff;
        border: 1px solid #084298;        
      }
    }
  }

  .home-footer {
    font-size: 1.5rem;
    color: #084298;
  }

  .home-icons {
    margin-top: 2rem;
    a {
      margin: 0 1rem;
    }

    span > a > i {
      font-size: 2rem;
      color: #084298;
      &:hover {
        color: #094eb6;
      }
    }
  }
}

//Login
.login-page {
  .login-header {
    display: flex;
    align-items: center;
    // justify-content: center;
    margin-left: 5rem;

    .login-header-logo {
      width: 40px;
      height: 40px;
      margin-right: 1rem;

      img {
        width: 100%;
        border-radius: 0.3rem;
      }
    }
  }
  .login-title {
    text-transform: uppercase;
    // text-align: center;
    margin-left: 5rem;
  }
  .login-form {
    margin: 2rem 5rem;

    .MuiFormHelperText-root.Mui-error {
      font-size: 1rem;
    }
  }

  .forgot-link{
    color: #084298;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
  }

  .login-input{
    height: 65px;
  }

  .login-message{
    height: 35px;
    margin: 2rem 5rem;

    .alert{
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 768px) {
  .login-form {
    margin: 2rem 0 !important;
  }
  .login-header,
  .login-title {
    margin-left: 0!important;
  }

  .login-message{
    margin: 2rem 0!important;
  }
}
